.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
  text-align: center;
}
.App-container {
  padding-top: 2rem;
  padding-left: 10rem;
  padding-right: 10rem;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-Input {
  width: 400px;
  height: 120px;
  font-size: 18px;

}
.dim-label {
  background-color: #91d5ff;
  border: 1px solid #40a9ff;
  color: #595959;
  border-radius: 4px;
  margin: 2px;
  padding: 2px;
}
.mea-label {
  background-color: #b7eb8f;
  border: 1px solid #73d13d;
  color: #595959;
  border-radius: 4px;
  margin: 2px;
  padding: 2px;
}
.cube-label {
  background-color: #ffadd2;
  border: 1px solid #f759ab;
  color: #595959;
  border-radius: 4px;
  margin: 2px;
  padding: 2px;
}
.App-button {
  width: 140px;
  text-align: center;
  padding: 0.4rem;
  margin: 0.2rem;
  min-height: 26px;
  color: #1890ff;
  border: 2px solid #1890ff;
  border-radius: 5px;
  font-weight: 600;
}
.App-button:hover {
  background-color: #1890ff;
  color: #fff;
  cursor: pointer;
}